<style rel="stylesheet" href="app.component.css"></style>

<section>
  <h1>Criando uma aplicação angular que liste usuários vindos da API</h1>
</section>


<article class="click">
<p>Pode clickar não doi! =)</p>
</article>


<button (click)='getAllPersona()'>Todos os Usuarios</button>

  <ul *ngFor='let p of persona'>
    <h4> Dados Pessoais </h4>
      <li>Nome: {{ p.name }}</li>
      <li>Usuario: {{ p.username}}</li>
      <li>Telefone: {{ p.phone }}</li>
      <li>E-mail: {{ p.email }}</li>
      <li>Website: {{ p.website }}</li>
      <li>Endereço: {{ p.address.city }}</li>
      <hr>
</ul>

<footer>
  <p>Designer: &copy; 2020 Keiny Rivas</p>
</footer>